**/node_modules
**/.yarn/cache
packages/**/dist
packages/bridge-contracts/typechain-types/@openzeppelin
packages/bridge-contracts/typechain-types/factories
packages/bridge-app/.yarn/install-state.gz
packages/bridge-contracts/.yarn/install-state.gz
.yarn/releases/yarn-stable-temp.cjs
.yarn/install-state.gz
packages/bridge-app/.env
packages/bridge-app/.env.prod
packages/bridge-app/relayer
packages/bridge-app/distRelay
packages/bridge-app/distDocker
packages/bridge-contracts/.openzeppelin
packages/bridge-contracts/typechain-types
packages/bridge-contracts/build
packages/bridge-app/src/abi
packages/bridge-app/types
