**/node_modules
**/.yarn/cache
packages/**/dist
packages/bridge-contracts/typechain-types/@openzeppelin
packages/bridge-contracts/typechain-types/factories
packages/bridge-app/.yarn/install-state.gz
packages/bridge-contracts/.yarn/install-state.gz
